<nav class="secondary-navbar" data-aos="fade-up" data-aos-duration="1000">
  <div class="container-fluid">
    <div class="exam-links" #examLinks>
      <div class="nav-item">
        <a class="nav-link" routerLink="/mdcat-quiz" data-aos="fade-right" data-aos-delay="100">MDCAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/ecat-quiz" data-aos="fade-right" data-aos-delay="200">ECAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/css-exams" data-aos="fade-right" data-aos-delay="300">CSS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/sat-detail" data-aos="fade-right" data-aos-delay="400">SAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/ielts-exams" data-aos="fade-right" data-aos-delay="500">IELTS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/gre-exams" data-aos="fade-right" data-aos-delay="600">GRE</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/gmat-exams" data-aos="fade-right" data-aos-delay="600">GMAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/mdcat-quiz" data-aos="fade-right" data-aos-delay="600">FSc Pre-Medical</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/ecat-quiz" data-aos="fade-right" data-aos-delay="600">FSc Pre-Engineering</a>
      </div>
      
      <!-- Duplicate links  -->
            <div class="nav-item">
        <a class="nav-link" routerLink="/mdcat-quiz" data-aos="fade-right" data-aos-delay="100">MDCAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/ecat-quiz" data-aos="fade-right" data-aos-delay="200">ECAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/css-exams" data-aos="fade-right" data-aos-delay="300">CSS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/sat-detail" data-aos="fade-right" data-aos-delay="400">SAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/ielts-exams" data-aos="fade-right" data-aos-delay="500">IELTS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/gre-exams" data-aos="fade-right" data-aos-delay="600">GRE</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/gmat-exams" data-aos="fade-right" data-aos-delay="600">GMAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/mdcat-quiz" data-aos="fade-right" data-aos-delay="600">FSc Pre-Medical</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/ecat-quiz" data-aos="fade-right" data-aos-delay="600">FSc Pre-Engineering</a>
      </div>


            <div class="nav-item">
        <a class="nav-link" routerLink="/mdcat-quiz" data-aos="fade-right" data-aos-delay="100">MDCAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/ecat-quiz" data-aos="fade-right" data-aos-delay="200">ECAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/css-exams" data-aos="fade-right" data-aos-delay="300">CSS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/sat-detail" data-aos="fade-right" data-aos-delay="400">SAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/ielts-exams" data-aos="fade-right" data-aos-delay="500">IELTS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/gre-exams" data-aos="fade-right" data-aos-delay="600">GRE</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/gmat-exams" data-aos="fade-right" data-aos-delay="600">GMAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/mdcat-quiz" data-aos="fade-right" data-aos-delay="600">FSc Pre-Medical</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/ecat-quiz" data-aos="fade-right" data-aos-delay="600">FSc Pre-Engineering</a>
      </div>

            <div class="nav-item">
        <a class="nav-link" routerLink="/mdcat-quiz" data-aos="fade-right" data-aos-delay="100">MDCAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/ecat-quiz" data-aos="fade-right" data-aos-delay="200">ECAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/css-exams" data-aos="fade-right" data-aos-delay="300">CSS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/sat-detail" data-aos="fade-right" data-aos-delay="400">SAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/ielts-exams" data-aos="fade-right" data-aos-delay="500">IELTS</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/gre-exams" data-aos="fade-right" data-aos-delay="600">GRE</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/gmat-exams" data-aos="fade-right" data-aos-delay="600">GMAT</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/mdcat-quiz" data-aos="fade-right" data-aos-delay="600">FSc Pre-Medical</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/ecat-quiz" data-aos="fade-right" data-aos-delay="600">FSc Pre-Engineering</a>
      </div>

    </div>
  </div>
</nav>