<div class="exam-detail-page py-5">
  <div class="container">
    <div class="row g-4 justify-content-center">
      <div class="col-md-6 col-lg-4" *ngFor="let exam of exams" [attr.data-aos]="'zoom-in'">
        <div class="card exam-card h-100 shadow-lg text-center">
          <div class="card-body d-flex flex-column justify-content-between">
            <div class="icon-wrapper mb-3">
              <i class="bi {{ exam.icon }}"></i>
            </div>
            <h5 class="card-title">{{ exam.title }}</h5>
            <p class="card-text">{{ exam.desc }}</p>
            <a [routerLink]="exam.link" class="btn btn-gradient mt-3">Click to access</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
