.container {
  max-width: 800px;
}

.list-group-item {
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: #f1f1f1;
  }
}

.list-group-item.active {
  background-color: #0d6efd !important;
  color: white;
}
