.subscribe-section {
  background: #f8f9fa;

  h3 {
    font-size: 1.75rem;
  }

  .input-group {
    .form-control {
      height: 50px;
      font-size: 1rem;
      &:focus {
        box-shadow: none;
      }
    }

    .btn {
      height: 50px;
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
