<div class="container my-5">
  <div class="row g-4">
    <div class="col-md-6 col-lg-4" *ngFor="let blog of blogs">
      <div class="card shadow-sm border-0 h-100 blog-card d-flex flex-column">
        <div class="blog-thumbnail-wrapper">
          <img
            *ngIf="blog.thumbnailUrl"
            [src]="blog.thumbnailUrl"
            class="card-img-top blog-thumbnail"
            alt="Blog Thumbnail"
          />
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ blog.title }}</h5>
          <p class="card-text text-muted flex-grow-1">
            {{ truncateText(blog.content, 120) }}
          </p>
          <a [routerLink]="['/blog', blog.blogPostId]" class="btn btn-primary mt-auto">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
